/*Usamos la etiqueta body de toda la página para establecer los estilos generales que se aplican a toda ella*/
body {
	width:770px; /*Anchura fija de la página de 770píxeles*/
	font-family:Arial; /*Fuente Arial (o su familia)*/
	color:black; /*Color de la fuente negro*/
	font-size:1.5em; /*Tamaño de la fuente*/
}



h1 {
	text-align:center;
}

/*El estilo general del los enlaces*/
a {
	color:blue; /*Color de enlace, estado normal*/
}

/*Estilo de enlace al pasar el cursor por encima*/
a:hover {
	color:red;
}

/*Estilo de enlaces ya clicados/visitados*/
a:visited {
	font-family:Verdana;
	color:blue;
}

/*Si ya hemos clicado en el enlace previamente al pasar por el cursor también sigue poniéndose en rojo*/
a:visited:hover {
	color:red;
}

/*El estilo de los párrafos, margen de separación superior de 0.5em*/
p {
	margin-top:0.5em;
}

p.otros {
	text-decoration:underline;
	text-align:left;
}

p.enlaces {
	text-decoration:underline;
	text-align:left;
}

/*Contenedor "div" que tenga el atributo "class=encabezado"*/
div.encabezado {
	background-color:#d6d6c2; /*Fondo gris suave*/
	height:100px; /*Altura 100 píxels*/	
	background-image:url("./cabecera.jpeg"); /*Imagen de fondo de la cabecera*/

	border-style:solid;
	border-width:1px;

margin-bottom:15px;
}

/*Para cambiar el color de fondo cuando se pasa el cursor por los enlaces de la cabecear*/
div.encabezado.a:hover {
	background-color:#ff66cc;
}

/*Los elementos del menú/barra de navegación, es decir, los enlaces */
div.encabezado.a {
	padding:0.3em; /*Relleno*/
	margin-bottom:0.7em; /*Margen inferior 0.7em*/
}

/*Para alinear el texto del encabezado que poner "Sección"*/
p.seccion {
	text-align:center;
}

/*Establezco el ancho de las partes izquierda y derecha de la columna central de contenidos*/
div.izquierdo {
	width:200px;
	height:600px;
	background-color:orange;
	margin-right:15px;
	float:left;

border-style:solid;
	border-width:1px;
margin-right:15px;
}

/*Columna central de contenidos*/
div.centro {
	width:330px;
	height:600px;
	background-color:yellow;
	margin-right:15px;	
	float:left;

	border-style:solid;
	border-width:1px;
margin-right:15px;
}

/*Lateral izquierdo de contenidos*/
div.derecho {
	width:200px;
	height:600px;
	background-color:orange;
	float:left;

	border-style:solid;
	border-width:1px;
margin-bottom:15px;
}

/*La sección del pie de página, sólo hay que darle el alto*/
div.pie_de_pagina {
	text-align:justify;
	text-align:center;
	text-decoration:underline;
	height:100px;

	border-style:solid;
	border-width:1px;	

	clear: both; /*Obligatorio, si no  no aparece el borde y el texto como pie de página*/

}

ul {
  list-style-type: circle;
}
